# No exe or temp dir
/sdk-features*

# Build Java stuff
build

# Intellij and Gradle stuff
.gradle
.idea

# NodeJS stuff
node_modules
/temp-ts-proj*/
/tslib/

# Python stuff
__pycache__

# Build Go stuff
bin

# VS Code config
.vscode

