name: Continuous Integration
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main

jobs:
  # Build cli and harnesses
  build-go:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest] #  windows-latest - like 8x slower. Excluded for now since we're just building.
    runs-on: ${{ matrix.os }}
    steps:
      - name: Print build information
        run: 'echo head_ref: ${{ github.head_ref }}, ref: ${{ github.ref }}, os: ${{ matrix.os }}'
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.17'

      - run: go build

  build-ts:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest] #  windows-latest - like 8x slower. Excluded for now since we're just building.
    runs-on: ${{ matrix.os }}
    steps:
      - name: Print build information
        run: 'echo head_ref: ${{ github.head_ref }}, ref: ${{ github.ref }}, os: ${{ matrix.os }}'
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2

      - run: npm ci
      - run: npm run build
      - run: npm run lint

  build-python:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest] #  windows-latest - like 8x slower. Excluded for now since we're just building.
    runs-on: ${{ matrix.os }}
    steps:
      - name: Print build information
        run: 'echo head_ref: ${{ github.head_ref }}, ref: ${{ github.ref }}, os: ${{ matrix.os }}'
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: '3.10'
      - run: python -m pip install --upgrade wheel poetry poethepoet
      - run: poetry install --no-root
      - run: poe lint

  build-java:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest] #  windows-latest - like 8x slower. Excluded for now since we're just building.
    runs-on: ${{ matrix.os }}
    steps:
      - name: Print build information
        run: 'echo head_ref: ${{ github.head_ref }}, ref: ${{ github.ref }}, os: ${{ matrix.os }}'
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - run: ./gradlew build

  feature-tests-ts:
    uses: ./.github/workflows/typescript.yaml
    with:
      typescript-repo-path: temporalio/sdk-typescript
      typescript-repo-ref: main

  feature-tests-go:
    uses: ./.github/workflows/go.yaml
    with:
      go-repo-path: temporalio/sdk-go
      go-repo-ref: master

  feature-tests-python:
    uses: ./.github/workflows/python.yaml
    with:
      python-repo-path: temporalio/sdk-python
      python-repo-ref: main

  build-go-master-docker-images:
    uses: ./.github/workflows/docker-images.yaml
    with:
      lang: go
      sdk-repo-ref: master
      sdk-repo-url: https://github.com/temporalio/sdk-go
      run-tag: master

  build-go-latest-docker-images:
    uses: ./.github/workflows/docker-images.yaml
    with:
      lang: go
      # Latest release at the time this was written
      # TODO(bergundy): Find some way to automatically upgrade to "latest"
      sdk-version: 'v1.16'
      semver-latest: major
      run-tag: '1.16.0'
