name: Typescript Features Testing
on:
  workflow_call:
    inputs:
      typescript-repo-path:
        required: true
        type: string
        default: 'temporalio/sdk-typescript'
      typescript-repo-ref:
        required: true
        type: string
        default: 'main'

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./sdk-ts
    steps:
      - name: Print git info
        run: 'echo head_ref: ${{ github.head_ref }}, ref: ${{ github.ref }}, ts repo ref: ${{ inputs.typescript-repo-ref }}'
        working-directory: '.'

      - name: Checkout SDK features repo
        uses: actions/checkout@v2
        with:
          # Weirdly, this must be specified otherwise if the workflow is re-used from an sdk repo
          # this will just check out the SDK repo.
          repository: temporalio/sdk-features
          path: sdk-features
      - name: Checkout typescript SDK repo
        uses: actions/checkout@v2
        with:
          repository: ${{ inputs.typescript-repo-path }}
          submodules: recursive
          path: sdk-ts
          ref: ${{ inputs.typescript-repo-ref }}

      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.17'

      - uses: Swatinem/rust-cache@v1
        with:
          working-directory: sdk-ts/packages/core-bridge

      # Don't build during install phase since we're going to explicitly build
      - run: npm ci --ignore-scripts
      - run: npm run build
        env:
          BUILD_CORE_RELEASE: true
      - name: Build sdk-features go
        run: go build
        working-directory: ./sdk-features

      - name: Run SDK-features tests
        run: go run . run --lang ts --version "$(realpath ../sdk-ts)"
        working-directory: ./sdk-features
